<h2>Dashboard</h2>
<table class="acl">
	<thead>
		<tr>
			<th>Collaboration</th>
			<th class="stat">Assigned to Me</th>
			<th class="stat">Total Open Tasks</th>
			<th class="stat">Total Closed Tasks</th>
			<th class="stat">Total Tasks</th>
			<th class="stat">Completion %</th>
		</tr>
	</thead>
	<tbody>
		<%= render :partial => 'dashboard/status_row', :collection => current_user.collaborations %>
	</tbody>
	<tfoot>
	</tfoot>
</table>