<h1>Listing tasks</h1>

<table>
  <tr>
    <th width='50'>ID</th>
    <th width='200'>Title</th>
    <th width='100'>Type</th>
    <th width='100'>Status</th>
    <th width='150'>Created By</th>
    <th width='150'>Assigned To</th>
  </tr>

  <%= render(:partial => 'shared/task', :collection => @tasks )%>

</table>

<br />

<%= link_to 'New task', new_collaboration_task_path(
      :collaboration_id => @collaboration.id
  ) %>