<h2>Tasks for <%=h @collaboration.subject %></h2>

<%= render(:partial => 'shared/task', :collection => @tasks )%>

<%= link_to 'New task', new_collaboration_task_path(
      :collaboration_id => @collaboration.id
  ) %>