/* http://www.html-color-names.com/lightblue.php */
body {
  margin: 0px;
  border: 0px;
  padding: 0px;  
  color: #1A1A1A;
  background: #EFFBFE;
  font-size: 0.8em;
  font-family: tahoma, arial, helvetica;
  line-height: 1.2em;
}

div#header {
  background: #7998A1;
  clear: both;
  height: 40px;
  color: orange;
}

div#header>h1 {
  margin: 10px;
  border: 0px;
  padding: 0px;
  clear: none;
  float: left;
}

div#sidebar {
  width: 200px;
  border: 0px;
  padding: 0px;
  margin: 0px;
  float:left;
  clear: both;
  min-height: 500px;

  background-image:url('/images/sidebar-background.png');
  background-repeat:repeat-x;
}

div#content {
  margin-left: 200px;
  padding-left: 0px;
  width: 600px;
}

div#footer {
  margin-left: 200px;
  padding-left: 0px;
  width: 600px;
}

div.nav-tabs {
  background: lightblue;
  height: 40px;
  width: 100%;
  background-image:url('/images/sidebar-background.png');
  background-repeat:repeat-x;
}
ul.tab {
  display: inline;
  padding-left: 10px;
  padding-right: 10px;
}
ul.tab.user {
  float: right;
  font-weight: bold;
}
ul.tab.nav {
  float: left;  
}

li.tab {
  border-left: 1px;
  border-right: 1px;
  border-top: 1px;
  border-bottom: 1px;
  border-radius: 6px;
  -moz-border-radius: 6px;
  border-color: lightblue;
  border-style: outset;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 3px;
  list-style: none;
  display: inline;
}

li.tab.selected {
  border-style: inset;
  background: lightgrey;
}

ul.tab.user>li>a:link { color: orange; }
ul.tab.user>li>a:visited { color: orange; }

/* http://www.webmasterworld.com/forum83/4694.htm */
div.login {
  text-align: center;
  width: 550px;
  height: 400px;
  margin: 0px auto -1px auto;
  font-weight: bold;
  font-size: 1.2em;
}
/*
input.login {
  font-size: 1.2em;
  font-weight: normal;  
}
*/

/* http://cssbutton.com/forms/ */
.input {
    border: 1px solid #006;
    background: #ffc;
}
.input:hover {
    border: 1px solid #f00;
    background: blue;
}
.button {
    border: 1px solid #006;
    background: #9cf;
}
.button:hover {
    border: 1px solid #f00;
    background: blue;
}
label {
    display: block;
    width: 200px;
    float: left;
    margin: 2px 4px 6px 4px;
    text-align: right;
    font-weight: bold;
}
.login p, input {
  font-size: 16px;
  font-weight: bold;  
}
input {
  font-size: 1em;
  font-weight: normal;
}
select {
  font-size: 1em;
}
textarea {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 1em;  
}

.avatar {
  width: 45px;
  height: 45px;  
  background-color: #dddddd;
  float: left;
}
div.icon {
  width: 20px;
  height: 20px;  
  float: right;
  border: 0px;
}
span.user-name {
  color: blue;
  font-weight: bold;
}


div.task {
  width: 100%;
  margin: 2px;
  padding: 2px;
}
div.task-detail {
  background-color: white;
  border: 0px;
  height: 45px
}
div.task-collaboration {
  background-color: #eeeeee;
  font-weight: normal;
  height: 15px;
  border: 1px;
  border-color: darkgrey;
  border-style: solid;
}
span.task-actions {
  float: right;
  font-size: 0.8em;
}
span.task-actions.more {
  float: left;
}
span.task-updated {
  font-size: 0.8em;
  color: grey;
}
div.task-more {
  width: 90%;
  background-color: #eeeeee;  
  clear: right;
  float: right;
  border: 1px;
  border-color: darkgrey;
  border-style: solid;
  margin-bottom: 3px;
}
hr, hr.task-separator {
  clear: right;
  height: 1px;
  border: 0px;
  background-color: lightgrey;
}

div.collaboration {
  background-color: lightgrey;
  border: 1px;
  border-color: darkgrey;
  border-style: solid;
  margin: 2px;
  padding: 2px;
}
h2.collaboration {
  margin-top: 5px;
  margin-bottom: 5px;
}
span.collaboration-description {
  font-size: 1.0em;  
}
span.collaboration-status {
  font-size: 0.8em;
  color: grey;
}
span.collaboration-actions {
  float: right;
  font-size: 0.8em;
}

div.collaboration.topic {
  background-color: #eeeeee;
}
h3.topic {
  margin-top: 3px;
  margin-bottom: 3px;
}
