body {
  border-width: 0px;
  padding: 0px;  
  margin: 0px;
  color: black;
  background: white;
}

#content {
  background: white;
}

#header {
  height: 30px;
  background: darkblue;
  color: orange;
}

#sidebar {
  width: 250px;
  margin: 15px 15px 0 0;
  min-height: 1000px;
  display:inline;
  float:left;
  background: lightblue;
}

div.nav-tabs {
  background: lightblue;
  height: 40px;
  width: 100%;
}

ul.tab {
  display: inline;
  padding-left: 0px;
  padding-right: 0px;
}
ul.tab.user {
  float: right;
}
ul.tab.nav {
  float: left;  
}

li.tab {
  border-left: 1px;
  border-right: 1px;
  border-top: 1px;
  border-bottom: 1px;
  border-radius: 6px;
  -moz-border-radius: 6px;
  border-color: lightblue;
  border-style: outset;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 3px;
  background: lightblue;

  list-style: none;
  display: inline;
}

li.tab.selected {
  border-style: inset;
  background: lightgrey;
}

