input[type="button"], 
input[type="submit"], 
input[type="reset"] {
	color: white;
	background-color: navy;
	border-style: outset;
	border-width: 1px;
}
input[type="button"]:hover, 
input[type="submit"]:hover, 
input[type="reset"]:hover {
	color: orange;
}
input[type="button"]:active, 
input[type="submit"]:active, 
input[type="reset"]:active {
	border-style: inset;
	color: orange;
}

/* http://cssbutton.com/forms/ */

form.tabulated {
	font-size: 1.2em;
}
form.tabulated div {
	margin-bottom: 10px;
}
form.tabulated label {
  display: inline-block;
  width: 20%;
  float: left;
  margin: 2px 4px 6px 4px;
  text-align: right;
}
form.tabulated textarea {
	width: 60%;
	height: 100px;
	margin: 2px 4px 6px 4px;
	text-align: left;
  border-style: solid;
  border-width: 1px;
	font-size: 1em;
}
form.tabulated input, 
form.tabulated select {
	margin: 2px 4px 6px 4px;
  font-size: 1em;
  border-style: solid;
  border-width: 1px;
}
form.tabulated select {
	font-size: 1.2em;
}
form.tabulated input[type="text"] {
	width: 60%;
}
form.tabulated input[type="password"] {
	width: 40%;
}
form.tabulated input[type="submit"], 
form.tabulated input[type="button"], 
form.tabulated input[type="reset"], 
{
	margin: 2px 4px 6px 4px;
	width: auto;
}

/*
* Customisation for the Access pages
*/
form.tabulated.access {
	margin-top: 20px;
}
form.tabulated.access * {
	font-size: 0.8em;
}
form.tabulated.access label {
	color: navy;
	font-weight: bold;
}
form.tabulated.access input[type="text"],
form.tabulated.access input[type="password"] {
	font-size: 1.0em;
	width: 40%;
}
form.tabulated.access input[type="submit"] {
	font-size: 1.0em;
}
form.tabulated.access div.form_footer {
	font-size: 0.7em;
	color: navy;
}

form.tabulated.login input[type="text"],
form.tabulated.login input[type="password"] {
	width: 150px;
}
form.tabulated.login input[type="submit"] {
	font-size: 0.8em;
}


/*
* Used for the form in the multifunction tab area
*/
form.qtf {
  text-align: center;
}
input.qtt {
  font-size: 1.2em;
  width: 60%;
	margin: 2px;
}
input.qtb {
  font-size: 1.2em;
  width: 110px;
	margin: 2px;
}
div.qtf.options {
	text-align: left;
}