input[type="button"], 
input[type="submit"], 
input[type="reset"] {
	color: white;
	background-color: #6694E3;
	border-style: outset;
	border-width: 1px;
}
input[type="button"]:hover, 
input[type="submit"]:hover, 
input[type="reset"]:hover {
	color: orange;
}
input[type="button"]:active, 
input[type="submit"]:active, 
input[type="reset"]:active {
	border-style: inset;
	color: orange;
}

/* http://cssbutton.com/forms/ */

form.tabulated {
	font-size: 12px;
}
form.tabulated div {
	margin-bottom: 10px;
}
form.tabulated label {
  display: inline-block;
  width: 20%;
  float: left;
  margin: 2px 4px 6px 4px;
  text-align: right;
}
form.tabulated textarea {
	width: 60%;
	height: 100px;
	margin: 2px 4px 6px 4px;
	text-align: left;
  border-style: solid;
  border-width: 1px;
	font-size: 1em;
}
form.tabulated input, 
form.tabulated select {
	margin: 2px 4px 6px 4px;
  font-size: 1em;
  border-style: solid;
  border-width: 1px;
}
form.tabulated select {
	font-size: 1.2em;
}
form.tabulated input[type="text"] {
	width: 60%;
}
form.tabulated input[type="password"] {
	width: 40%;
}
form.tabulated input[type="submit"], 
form.tabulated input[type="button"], 
form.tabulated input[type="reset"], 
{
	margin: 2px 4px 6px 4px;
	width: auto;
}

/*
* Customisation for the Access pages
*/
form.tabulated.access {
	margin-top: 20px;
}
form.tabulated.access label {
	color: #6694E3;
	font-weight: bold;
}
form.tabulated.access input[type="text"],
form.tabulated.access input[type="password"] {
	width: 40%;
	font-size: 16px;
	padding: 3px;
}
form.tabulated.access input[type="submit"] {
}
form.tabulated.access div.form_footer {
	font-size: 12px;
	color: #6694E3;
}

form.tabulated.login input[type="text"],
form.tabulated.login input[type="password"] {
	width: 150px;
}
form.tabulated.login input[type="submit"] {
	font-size: 0.8em;
}
form.tabulated.login a {
	color: lightblue;
}


/*
* Used for the form for creating new Tasks
*/
form.qtf {
	position: absolute;
	top: 0px;
	left: 50%;
	margin-left: -250px;
	margin-top: 2px;
  text-align: center;
}
input.qtt {
	border-style: 1px inset #6694E3;
  font-size: 10px;
  width: 400px;
	margin: 1px;
}
input.qtb {
	border-style: 1px solid #B2C9F1;
  font-size: 10px;
  width: 100px;
	margin: 1px;
}
div.qtf.options {
	text-align: left;
}