/*
#6694E3; Darkest Blue (102, 148, 227)
#B2C9F1; Lighter Blue (178, 201, 241) (used also for highlighting)
#E0ECFF; Lightest Blue (224, 236, 255)
#CAD4E6; Lightest Blue-Border (202, 212, 230)

#36C; Link Colour
#FFF1A8; Alertbox Colour

#EFEFEF; Lightgrey
grey; Lightgrey-Border
*/
span.profile_link>a {
	color: #36C;
}

#container {
  width: 90%;
	margin-left: 5%;
	margin-right: 5%;
  font-size: 12px;
	min-height: 600px;
}
#left {
  float: left;
  width: 200px;
  padding: 4px;
  height: 100%;
}
#content {
  padding: 0px 215px 0px 215px;
  height: 100%;
}
#right {
  float: right;
  width: 200px;
  padding: 4px;
  height: 100%;
}
div#header {
  background: #6694E3;
  color: white;
  height: 24px;
  padding-top: 3px;
  padding-left: 3px;
}
div#footer {
	margin-top: 100px;
	border-top: 1px solid lightgrey;
  background-color: #F4F4F4;
	text-align: center;
	padding: 10px;
}
div#footer.compact {
	font-size: 10;
	padding: 2px;
}

h4 {
  margin-top: 5px;
  margin-bottom: 5px;
	padding: 2px;
}
h4.breadcrumb>span, h4.breadcrumb>span>a,
h4.sidebar>span>a  {
  color: lightgrey;
}
h4.sidebar>span {
  color: lightgrey;
  float: right;
}

div.sidebar {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: lightgrey;
	padding-bottom: 5px;
  margin-bottom: 10px;
}

h1.headLogo {
	border: 0px;
	float: left;
	margin: 0px;
}
h1.headLogo a {
	display: block;
	background-image: url('/images/sprites.png');  
	background-repeat: none;
  background-position: 0px 0px;
  height: 20px;
  width: 113px;
}

.shadow {
/* http://css3.bradshawenterprises.com/ */
	  box-shadow: 2px 2px 4px #888;
	  -webkit-box-shadow: 2px 2px 4px #888;
	  -moz-box-shadow: 2px 2px 4px #888;

	/* transitions not really working since this element is rendered on load */
	  transition: all 0.2s ease-in-out;
	  -webkit-transition: all 0.2s ease-in-out;
	  -moz-transition: all 0.2s ease-in-out;
	  border-radius: 2px;
	  -webkit-border-radius: 2px;
	  -moz-border-radius: 2px;
}

span.bubble {
	padding-left: 5px;
	padding-right: 5px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
	color: white;
	font-size: 9px;
	font-weight: normal;
}
span.bubble.counter {
	background-color: #6694E3;
	color: #E0ECFF;
	margin-right: 2px;
	float: right;
}
span.bubble.status {
	background-color: darkred;
}

ul.sidebar {
  padding-left: 0px;
  list-style: none;
  margin-top: 5px;
  font-size: 12px;
  line-height: 1.4em;
}
ul.sidebar>li {
	border: 0px;
	border-bottom: 1px;
	border-style: solid;
	border-color: white;
	padding-left: 10px;
}

/*
#6694E3; Darkest Blue (102, 148, 227)
#B2C9F1; Lighter Blue (178, 201, 241) (used also for highlighting)
#E0ECFF; Lightest Blue (224, 236, 255)
#CAD4E6; Lightest Blue-Border (202, 212, 230)
*/
ul.sidebar>li:hover {
	background-color: #e0ecff;
}
ul.sidebar>li.active {
	background-color: #b2c9f1;
	font-weight: bold;
}

li#task-empty-message {
	list-style: none;
}
.empty-message {
  color: black;
  border: 1px solid blue;
  padding: 20px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  background-color: #EEEEEE;
  text-align: center;
}


/* Task Action Menu
http://www.lwis.net/free-css-drop-down-menu/dropdown.simple.horizontal.html
*/
.tam {
  visibility: hidden;
  color: #555577;
	font-size: 10px;
}
li.result ul.tam>li>a,
li.result ul.tam {
  visibility: visible;
  color: lightgrey;
}
li.result:hover ul.tam>li>a,
li.result:hover ul.tam  {
  color: black;
}

ul.tam, ul.tam li, ul.dir {
  list-style: none;
}
ul.tam {
  float: right;
	height: 15px;
	position: relative;
	z-index: 0;
}
ul.tam.assignment {
	float: left;
  color: white;
	z-index: 5;
}
ul.tam.footer {
	height: 17px;
	float: none;
	display: block;
}
li.result ul.tam.footer li {
	margin-right: 1px;
	background-color: white;
}
li.result ul.tam.footer li>a {
	color: lightgrey;	
}
li.result ul.tam.footer li.active>a {
	color: gray;
}
span.arrow {
	font-size: 8px;
}

ul.tam li {
  float: left;
  line-height: 1em;
  vertical-align: middle;
  z-index: 110;
  background-color: inherit;
  padding-right: 5px;

  position: relative;
  cursor: default;
}

/* these are the actual drop-down menus */
ul.dir {
  position: absolute;
  top: 100%;
  border-width: 1px;
  border-color: black;
  border-style: solid;
	background-color: white;
	z-index: 250;
}
ul.dir li, ul.dir a {
  position: relative;
	background-color: white;
	z-index: 1000;
}
ul.dir li {
	line-height: 1.2em;
  float: none;
  line-height: 16px;
  border-bottom-style: solid;
  border-bottom-color: lightgrey;
  border-bottom-width: thin;
	width: 10em;
}

/* http://www.tobypitman.com/jquery-style-menu-with-css3/ */
/* http://www.webdesignerwall.com/tutorials/css3-dropdown-menu/ */
ul.tam ul.inactive {
  display: none;
}

/* Icons for the lists */
ul.tam li i, h4 i, div.activity-right i, div.comment i, div.task-description i, i  {	
	display: inline-block;
	vertical-align: text-top;
  height: 15px;
  width: 15px;

  margin-right: 3px;
  background-image: url('/images/sprites.png');  
  background-color: transparent;
}
i.Assign  { background-position: -65px -52px; }
i.Accept  { background-position: -49px -52px; }
i.Reject  { background-position: -97px -52px; }
i.Resolve { background-position: -81px -52px; }
i.Close   { background-position: -49px -52px; }
li.result:hover i.Assign  { background-position: -65px -20px; }
li.result:hover i.Accept  { background-position: -49px -20px; }
li.result:hover i.Reject  { background-position: -97px -20px; }
li.result:hover i.Resolve { background-position: -81px -20px; }
li.result:hover i.Close   { background-position: -49px -20px; }

i.Description { background-position: -17px -36px; }
i.Description.hascontent { background-position: -81px -36px; }
i.Comments    { background-position: -1px -36px; }
i.Comments.hascontent    { background-position: -114px -36px; }
i.Attachments { background-position: -33px -36px; }
i.Favourites { background-position: -33px -20px; }
i.Watchers { background-position: -1px -20px; }
i.Watchers.Watched { background-position: -33px -20px; }
i.Team       { background-position: -49px -36px; }
i.Topics     { background-position: -65px -36px; }
i.Tags       { background-position: -33px -52px; }
i.Search     { background-position: -114px -20px; }
i.Activity   { background-position: -129px -20px; }
i.ArrowRight { background-position: -1px -52px; }
div.task-right {
  height: 45px;
  width: 45px;

  background-image: url('/images/sprites.png');  
  background-color: transparent;
  background-position: -1px  -68px;
}
/* Task Type Styles */
i.tt {
	display: block;	
  height: 19px;
  width: 19px;
	margin-left: 13px;

  background-image: url('/images/sprites.png');  
  background-color: transparent;
  position: relative;
}
i.tt.Task     { background-position: -47px  -68px;  }
i.tt.Issue    { background-position: -66px  -68px;  }
i.tt.Question { background-position: -85px  -68px;  }
i.tt.Defect   { background-position: -47px  -87px;  }
i.tt.Risk     { background-position: -66px  -87px;  }
i.tt.Idea     { background-position: -85px  -87px;  }
i.tt:hover    { background-color: lightblue; cursor: pointer; }
ul.tt {
	position: relative;
	list-style: none;
	background-color: white;
	border: 1px solid lightgrey;
	z-index: 500;
}
ul.tt li {
	background-color: white;
	height: 21px;
	padding-top: 1px;
	padding-bottom: 1px;
	z-index: 600;
}

i.ts {
	display: block;
  height: 15px;
  width: 15px;
	margin-left: 30px;

  background-image: url('/images/sprites.png');  
  background-color: transparent;
  position: relative;
}
i.ts.New        { background-position: -81px -36px; }
i.ts.Assigned   { background-position: -65px -20px; }
i.ts.Accepted   { background-position: -49px -20px; }
i.ts.Rejected   { background-position: -97px -20px; }
i.ts.Resolved   { background-position: -81px -20px; }
i.ts.Closed     { background-position: -49px -20px; }

div.profile {	
  min-height: 50px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: lightgrey;  
}
img.avatar {
  width: 45px;
  height: 45px;  
	margin: 2px;
}
div.profile img.avatar {
	float: left;
}
ul.profile {
  list-style: none;
  padding-left: 60px;
}

div.profile.mini {
	float: right;
	font-size: 12px;
	margin: 0px;
	padding: 0px;
	border-width: 0px;
}
img.miniavatar {
	width: 22;
	height: 22;
	border-width: 0px;
	margin: 0px;
	vertical-align: top;
}
div.profile.mini a {
	color: white;
	margin-left: 3px;
	margin-right: 3px;
}

span.user-name {
  color: blue;
  text-decoration: none;
}

/* Access Control Listing Table */
table.acl {
	width: 100%;
	font-size: 10px;
	border: 1px solid lightgrey;
}
table.acl th {
	text-align: left;
	background-color: #eeeeee;
	width: 20%;
	border: 1px solid gray;
}
table.acl td {
	width: 20%;
	border: 1px solid gray;
}
table.acl .green {
	background-color: #ddffdd;
}
table.acl .yellow {
	background-color: #ffffdd;
}
table.acl .red {
	background-color: #ffdddd;	
}

table.acl .stat {
	text-align: center;
}
div.statusbar {
	width: 100px; 
	height: 100%;
}
div.statusbar div {
	display: inline-block; 
	height: 10px;	
}

/* Task Stuff */
li.result {
	list-style: none;
  line-height: 1.2em;
  margin-top: 5px;
  margin-bottom: 5px;
	padding-bottom: 3px;
	border-bottom: 1px solid lightgrey;
  min-height: 55px;
}

div.task-left {
  float: left;
  margin-right: 2px;
}
div.task-right {
  float: right;
  margin-left: 2px;  
}
div.task-menubar {
	float: right;
	width: 15px;
	height: 100%;
}
div.task-content {
  padding: 0px 65px 0px 50px;
}

div.task-header {
  color: lightgrey;
  padding-left: 2px;
  height: 17px;
}
span.task-assigned {
  float: right;
  text-align: right;
}
span.task-updates {
  font-size: 10px;
  color: darkgrey;
}
span.tta, div.tta {
  font-size: 10px;
  color: lightgrey;
}

div.task-footer {
}
div.task-title {
	font-size: 14px;
	margin: 2px 0px 5px 0px;
}

/* Task Details Styles */
div.task-details {
	padding: 1px;
	margin-top: 1px;
  border-style: solid;
  border-color: transparent;
  background-color: #E0ECFF;
	font-size: 10px;
}
div.task-detail {
  border-style: solid;
  border-width: 0px 0px 1px 0px;
	border-color: white;
}
span.task-details-action {
	margin-right: 4px;
}

div.task-title input {
	font-size: 14px;	
}
div.task-title input.editor_field {
	width: 60%;
	border: 1px solid lightgrey;
}
div.task-title input.editor_ok_button {
}

.inplaceeditor-saving { background: url(/images/ajax-loader.gif) bottom right no-repeat; }

div.task-details textarea.editor_field {
	width: 95%;
	height: 5em;
}
div.task-details span.in_place_edit_container {
	white-space: pre-line; 
}

#resultset-spinner-container {
	position: absolute;
	top: 0px;
	left: 50%;
	margin-left: -155px;

	z-index: 10000;
	text-align: center;
	margin: 0 auto;
}
#resultset-spinner {
	background-color: #FFF1A8;
	border: 1px solid orange;
	padding: 2px;
}
#resultset-spinner img {
}

/* Task Favourites */
span.fav {
	position: relative;
}
input[type="button"].tf {
	display: block;
  height: 15px;
  width: 15px;
	margin-left: 30px;	
  padding: 0px;
  border: 0px;

  background-image: url('/images/sprites.png');  
  background-color: transparent;
  background-position: -1px -20px;
}
input[type="button"].tf:hover {
  background-position: -17px -20px;
  cursor: pointer;
}
input[type="button"].tf.f, 
input[type="button"].tf.f:hover {
  background-position: -33px -20px;    
}

h3.topic {
  margin-top: 3px;
  margin-bottom: 3px;
}

/* Comment Styles */
div.cc {
}
div.comment {
  padding: 0px;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: white;
}
div.comment-left {
	float: left;
	padding: 2px;
}
div.comment-body {
	margin-left: 35px;
	min-height: 35px;
}
div.ctaw {
	color: darkgray;
	margin-top: 2px;
	line-height: 1em;
}
/* http://stackoverflow.com/questions/2184061/ */
/* http://ajaxload.info/ */
div.spinner {
	z-index: 9999;
	position: relative;
}
/*IE will need an 'adjustment'
* html div.spinner {
	position: absolute;
	height: expression(document.body.scrollHeight &gt; document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
}
*/

form.cf {
	text-align: center;
	padding-left: 20px;
	padding-right: 20px;
  margin: 2px 0px 2px 0px;
}
input.cf {
	border: 1px solid darkgrey;
  width: 100%;
}

/* multifunction tabs */
.mf-tab {
  margin: 0;
  padding: 0;  
  list-style: none;
}
ul.mf-tab li.mf-tab {
  display: inline-block;  
}
ul.mf-tab {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: lightgrey;
}

li.mf-tab {
  width: 150px;
  border-style: solid;
  border-width: 1px;
  border-color: lightgrey;
  border-bottom-style: none;
  text-align: center;
  color: gray;
  background-color: white;
}
li.mf-tab.active {
  font-weight: bold;
  background-color: #E0ECFF;
}
div.mf-tab.body {
	font-size: 10px;
	padding: 3px;
	background-color: #E0ECFF;	
}
div#mf-tab-container {
  border-style: solid;
  border-width: 1px;
  border-color: lightgrey;
  border-top-width: 0px;
  background-color: #F4F4F4;
  padding: 0px;
  margin-bottom: 10px;
}

div.activity-details {
	font-size: 10px;
	margin-bottom: 3px;
}
li.result>div.activity-details {
	background-color: #EFEFEF;
}
span.ataw {
	color: darkgrey;
}
ul.acts {
	font-size: 10px;
	line-height: 12px;
	list-style: none;
	margin-left: 15px;
}
ul.acts label {
	font-weight: bold;
}
span.act-was {
	color: gray;
}
li.result .task-details {
	border-width: 1px;
}
li.result .task-details.tab {
	display: none;	
}
li.result .task-details.tab.active {
	display: block;
}
