	<h4>Taskforcc Access by Role</h4>
	<table class="acl">
		<thead>
			<tr><th>Role/Actions</th><th>Manager</th><th>Team</th><th>Restricted</th><th>Observer</th></tr>
		</thead>
		<tbody>
			<tr><th>Create Tasks</th><td class="green">Yes</td><td class="green">Yes</td><td class="green">Yes</td><td class="red">No</td></tr>
			<tr><th>View Tasks</th><td class="green">Any</td><td class="green">Any</td><td class="yellow">Assigned</td><td class="green">Any</td></tr>
			<tr><th>Update Tasks</th><td class="green">Any</td><td class="green">Any</td><td class="yellow">Assigned</td><td class="red">None</td></tr>
			<tr><th>Close Tasks</th><td class="green">Any</td><td class="yellow">Topic Controller</td><td class="red">None</td><td class="red">None</td></tr>
			<tr><th>Comment on Tasks</th class="green"><td class="green">Any</td><td class="green">Any</td><td class="yellow">Assigned</td><td class="green">Any</td></tr>
			<tr><th>Watch Tasks</th><td class="green">Any</td><td class="green">Any</td><td class="red">No</td><td class="green">Any</td></tr>
			<tr><th>Invite Users</th><td class="green">Yes</td><td class="green">Yes</td><td class="red">No</td><td class="red">No</td></tr>
		<tbody>
		<tfoot>
			
		</tfoot>
	</table>
