<h4><%= breadcrumb %> &raquo; Team</h4>
<hr />
  <%= render(:partial => 'shared/collaboration_user', 
    :collection => @collaboration_users,
    :locals => { :show_actions => true } )%>

<% unless @collaboration.is_system %>
  <%= button_to 'Invite Someone', new_collaboration_collaboration_user_path, :method=> 'get' %>
<% end %>
  