<%= render 'shared/collaboration_header' %>

<h3>Team:</h3>

<table width='100%'>
  <tr>
    <th>User</th>
    <th>Email</th>
    <th>Role</th>
    <th></th>
  </tr>

  <%= render(:partial => 'shared/collaboration_user', :collection => @collaboration_users )%>

</table>

<br />

<%= button_to 'Invite Someone', new_collaboration_collaboration_user_path, :method=> 'get' %>