<h4><%= breadcrumb %> &raquo; Tasks</h4>
<hr />
<% if @collaboration_user.tasks_assigned_to.empty? %>

  <div class="empty-message">
    No tasks match this selection &bull;
    
    <%= link_to 'New task', new_collaboration_task_path(
        :collaboration_id => @collaboration.id,
        :assigned_to => @collaboration_user.user_id
    ) %>
  
  </div>

<% else %>
  <%= render(:partial => 'shared/task', :collection => @collaboration_user.tasks_assigned_to )%>
<% end%>

<%= button_to 'New task', new_collaboration_task_path(
    :collaboration_id => @collaboration.id,
    :assigned_to => @collaboration_user.user_id),
    :method => 'get' %>
