<p>Your profile image is displayed by Gravatar - "Your Globally Recognised Avatar".</p>

<p>To set your profile image, <b><%= link_to "configure your profile at Gravatar", "http://www.gravatar.com/" %></b> using the same email address you use to login to taskfor.cc.</p>

<%= link_to 'Cancel', @current_user %>
