<h4><%= breadcrumb %> Watched Tasks</h4>
<hr />

<ul id="resultset">
	<%= render :partial => 'shared/resultset_spinner' %>
	
  <% if @collaboration.favourites(@current_user.id).empty? %>

    <li id="task-empty-message" class="empty-message">
      You are not yet Watching any Tasks.
    </li>
  
  <% else %>
    <li id="task-empty-message"></li>
    
    <% @collaboration.favourites(@current_user.id).each do |fav| %>
      <%= render(:partial => 'tasks/task_container', 
        :object => fav.task ) %>
    <% end %>
  <% end %>
</ul>
