<h4><%= breadcrumb %> &raquo; Watched Tasks</h4>
<hr />

<div id="task-container">
  <% if @collaboration.favourites(@current_user.id).empty? %>

    <div id="task-empty-message" class="empty-message">
      You are not yet Watching any Tasks.
    </div>
  
  <% else %>
    <div id="task-empty-message"></div>
    
    <% @collaboration.favourites(@current_user.id).each do |fav| %>
      <%= render(:partial => 'tasks/task_container', 
        :object => fav.task ) %>
    <% end %>
  <% end %>
</div>
