<div class="sidebar" id="collaborations_sidebar">
<h4 class="sidebar"><%= link_to 'Collaborations', list_collaborations_path, :title => "Manage Collaboration" %>
<span class='sidebar-actions'>
	<%= link_to 'New', new_collaboration_path %>
</span></h4>

<% if current_user.collaborations.empty? %>
  <div class="empty-message">
    No taskforcc.
  </div>
<% else %>
  <ul class="sidebar">
		<%= render :partial => 'shared/collaboration_li', :collection => current_user.collaborations %>
  </ul>
<% end %>
</div>