<div class='comment' id='<%= dom_id(comment) %>'>
  <span class="user-name"><%= titled_text(comment.user.full_name, comment.user.email) %></span> <%= comment.comment %>
  <span class='tta'><%= time_ago_in_words comment.created_at %> ago</span>
</div>