<% unless @collaboration.nil? || 
	(request[:controller].eql?("collaborations") && ["new","create","index"].include?(request[:action]) ) %> 
<div class="sidebar">    
  <h4><i class="Favourites"></i> <%= link_to 'Watched Tasks',
    collaboration_favourites_path(@collaboration) %></h4>
</div>
<% end %>
