<div class="sidebar">    
  <h4><i class="Favourites"></i> 
		<% unless @collaboration.nil? || 
			(request[:controller].eql?("collaborations") && ["new","create","index"].include?(request[:action]) ) %> 

			<%= link_to 'Watched Tasks',
	    	watched_collaboration_news_path(@collaboration), :title => "Show Watched Tasks" %>
		<% else %>
			<%= link_to 'Watched Tasks',
	    	watched_news_path(), :title => "Show Watched Tasks" %>
		<% end %>
	</h4>
</div>
