<%
	unless @collaboration_user.nil?
 		class_attribute = "class=\"active\"" if @collaboration_user == team_member
	end
-%>
<% user = team_member.user %>
<li <%= class_attribute -%>><%= link_to user.full_name, 
  collaboration_collaboration_user_path(
    :collaboration_id => team_member.collaboration_id,
    :id => team_member.id
  ) %>
<%= "(#{user.status})" unless user.status.eql?("Active") %></li>