<% unless @collaboration.nil? || 
	(request[:controller].eql?("collaborations") && ["new","create","index"].include?(request[:action]) ) %> 
<div class="sidebar">        
  <h4 class="sidebar">
    <i class="Team"></i>
    <%= link_to 'Team',
    collaboration_collaboration_users_path(@collaboration), :title => 'Manage Team' %>
    <% unless @collaboration.is_system %>
      <span class='sidebar-actions'>
        <%= link_to 'Invite', new_collaboration_collaboration_user_path(@collaboration), :title => 'Invite Collaborators' %>
      </span>    
    <% end %>
  </h4>

  <ul class="sidebar">
    <%= render (:partial => 'shared/team_member', :collection => @collaboration.collaboration_users ) %>
  </ul>    
</div>
<% end %>
