<% unless @collaboration.nil? %> 
    
  <h4>Topics 
    &bull; <%= link_to 'New', new_collaboration_topic_path(@collaboration) %> 
    &bull; <%= link_to 'List', collaboration_topics_path(@collaboration) %></h4>

  <ul>
    <%= render (:partial => 'shared/topic_li', :collection => @collaboration.topics ) %>
  </ul>

<% end %>
