<%
	unless @topic.nil?
 		class_attribute = "class=\"active\"" if @topic == topic_li
	end

	tc = 0
	topic_li.counters.each do |c|
		tc += c.cnt_total_open if c.user_id == @current_user.id
	end
-%>
<li id="tsbi_<%= dom_id(topic_li) %>" <%= class_attribute -%> ><%= link_to h(topic_li.name), 
  collaboration_topic_path(
    :collaboration_id => topic_li.collaboration_id,
    :id => topic_li.id
  ) %>
	<% if tc > 0 %>
		<span class="bubble counter" title="Open/Assigned"><%= tc -%></span>
	<% end %>
</li>