<h2>About Taskforcc</h2>

<p>
  Taskforcc has a modest goal; to make communicating and resolving tasks on your projects simpler and more efficient.
</p>

<h3>In times gone by</h3>
<p>We've all tried these different approaches to task management:
  <ul>
    <li>Project Plans - good for planning, but not for executing at the task level.</li>
    <li>Excel Spreadsheets - great! .. if you don't mind playing secretary consolidating the status.</li>
    <li>Meeting Minutes - unworkable once the task list adds up.</li>
    <li>Emails - who hasn't heard: "do you know how many unread emails I have in my inbox?".</li>
    <li>Intranet Applications - forget about working with external parties.</li>
  </ul>
</p>

<h3>Your future</h3>
<p>Imagine:
  <ul>
    <li>Taking your task management out of your spreadsheets, emails, and meeting minutes, and centralising them where all your project team can access.</li>
    <li>Adding a social aspect to your work, where your collegues can participate in all the project activities.</li>
    <li>Working with external parties as you do with your internal team, without worrying about "information leakage".</li>
  </ul>
This is what Taskforcc can deliver for you.
</p>    
