<h2>About Taskforcc</h2>
<p>
  Taskforcc makes communicating and resolving tasks on your projects simpler and more efficient.
</p>
<br>
<h4>Managing project tasks</h4>
<p>
	If you've ever tried using email or spreadsheets to track task status, then you must be familiar with the problems inherent to such an approach. These tools you're using, that work perfectly well for what they were designed, simply aren't suited to the job at hand.
</p>
<br>
<h4>Using the right tool for the job</h4>
<p>
	The answer is simple: use a tool that's right for the job. Use a tool that's been designed specifically for <strong>managing tasks in a team-working environment</strong>.
</p>
<br>
<h4>What Taskforcc can do for you</h4>
<p>
	Taskforcc will bring all your project tasks into one place, where your team can monitor status, resolve tasks assigned to them, and provide input to the tasks of others.
</p>