<h2>Contact Us</h2>
<p>We're still in startup phase and are very interested to hear any feedback or questions you might have.</p>

<br>
<h4>Email</h4>
<p>You can contact me, the founder of Taskforcc, directly at mark {at} taskfor.cc</p>

<br>
<h4>Twitter</h4>
<p>Or you can contact us on Twitter at @taskforcc, and find out the latest news by following our tweets.</p>
