<h2>Our Mission</h2>
Taskfor.cc is the place people go when they want to work more openly and efficently with others.

<h2>Our Vision</h2>
Create a large and growing community of people who's work days just keep getting better.
