<h4>All Tasks</h4>

<%= render :partial => 'shared/multifunction_tabs' %>

<div id="task-container">
<% if @current_user.tasks.empty? %>
  <div class="empty-message">
    No Tasks.
  </div>
<% else %>
  <%= render(:partial => 'tasks/task_container', :collection => @current_user.find_tasks(params) )%>
<% end %>
</div>
