<h2>All Tasks</h2>

<%= render :partial => 'shared/multifunction_tabs' %>

<div id="resultset">
	<%= render :partial => 'shared/resultset_spinner' %>	
	
<% if @current_user.tasks.empty? %>
  <div class="empty-message">
    No Tasks.
  </div>
<% else %>
  <%= render(:partial => 'tasks/result', :collection => @current_user.find_tasks(params) )%>
<% end %>
</div>
