<h4>All Tasks</h4>
<hr />

<% if @current_user.collaboration_tasks.empty? %>

<div class="empty-message">
  No Tasks.
</div>

<% else %>
  <%= render(:partial => 'shared/task', :collection => @current_user.collaboration_tasks )%>
<% end %>
