
<div class="collaboration">
  <h2 class="collaboration">Tasks for all taskforcc</h2>
</div>

<div class="task-container">

  <%= render(:partial => 'shared/task', :collection => @current_user.collaboration_tasks )%>

<br />
</div>
