<h1>Listing collaborations</h1>

<table>
  <tr>
    <th>Subject</th>
    <th>Status</th>
    <th>Created by</th>
  </tr>

  <%= render(:partial => 'shared/collaboration', :collection => @collaborations )%>

</table>

<br />

<%= link_to 'New collaboration', new_collaboration_path %>