<table>
  <tr>
    <th width='300'>Subject</th>
    <th width='100'>Status</th>
    <th width='200'>Created by</th>
  </tr>

  <%= render(:partial => 'shared/collaboration', :collection => @collaborations )%>

</table>

<br />

<%= link_to 'New collaboration', new_collaboration_path %>


<hr />

<div class="collaboration">
  <h2 class="collaboration">Tasks for all taskforcc</h2>
</div>

<div class="task-container">

  <%= render(:partial => 'shared/task', :collection => @current_user.collaboration_tasks )%>

<br />
</div>
