<h4>All Collaborations</h4>
<hr>
<table class="acl">
  <tr>
    <th>Subject</th>
    <th>Status</th>
    <th>Created by</th>
    <th>Actions</th>
  </tr>

  <%= render(:partial => 'collaborations/collaboration', :collection => @collaborations )%>

</table>

<br>

<%= button_to 'New Collaboration', new_collaboration_path, :method => :get %>

