<h4 class="breadcrumb"><%= breadcrumb %> Tasks</h4>

<%= render :partial => 'shared/multifunction_tabs' %>

<ul id="resultset">
  <% if @collaboration.find_tasks(params, @collaboration_user).empty? %>
  
    <li class="empty-message" id="task-empty-message">
      No tasks match this selection.      
    </li>
  <% else %>
    <li id="task-empty-message"></li>
    <%= render :partial => 'tasks/result', 
      :collection => @collaboration.find_tasks(params, @collaboration_user) %>
  <% end %>
</ul>

<% if ! @collaboration.nil?  && @current_user.can_create_task?(@task) -%>
	<%= button_to 'New task', new_collaboration_task_path(
	    :collaboration_id => @collaboration.id), 
	    :method => 'get' -%>
<% end -%>